@import '../../../../../../node_modules/material-ui/src/less/variables/colors';

.instant-message-channels {

  .instant-message-channel-brand {
    font-weight: bold;
    padding : 15px;
    margin: 0;
    background-color: @white;
  }

  .instant-message-channel-items {
    max-height: 500px;
    overflow-y: auto;

    .instant-message-channel-item {
      width: 100%;
      text-align: left;
      padding: 5px;
      float : left;

      span {
        padding: 5px;
      }

      .instant-message-channel-item-online {

      }

      .instant-message-channel-item-offline {
        opacity: 0.5;
      }
    }
  }
}