.select {
  position: relative;
  display: inline-block;
}

.select-hint {
  z-index: 0;
  color: #999;
  position: absolute;
  background: transparent;
}

.select-text {
  z-index: 1;
  float: left;
  position: relative;
}