.smart-editor {
  padding: 0 0.5em 0.5em;
  box-sizing: border-box;

  > div {
    width: 100%;
  }
}

.smart-display {
  padding: 0.5em;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-family: inherit !important;

  p {
    font-size: medium;
  }
  code {
    font-family: monospace !important;
  }
}
