.smart-display {

  .emoji {
    height: 1.3em;
    vertical-align: sub;
  }

}

.markdown-body p {
  padding: 0 !important;
  margin-bottom: 0 !important;
}



.smart-editor {
  > div {
    width: 100%;
  }

  input {
    height: auto !important;
    margin-top: 14px;
  }

  &.nohr hr {
    display: none;
  }
}

