.left {
  float: left;
  padding-left: 0 !important;
}
.right {
  float: right;
  padding-right: 5px !important;
}
.previous, .next, .empty {
  width: 10px;
  height: 10px;
  position: relative;
  top: 65px;
  background-size: contain;
  background: transparent none no-repeat center;
}
.empty {
  cursor: default;
}