.left {
  float: left;
}
.right {
  float: right;
}
.previous, .next, .empty {
  width: 20px;
  height: 10px;
  position: relative;
  top: 100px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: none;
}
.empty {
  cursor: default;
}