@import "~material-ui/src/less/scaffolding.less";
@import "~material-ui/src/less/components.less";

@calEventBg: white;
@arrowBg: white;
@arrowZIndex: 1;
@eventBg: white;
@triangleSize: 6px;

.add-event {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 100;
}

.cal-event {
  padding: 2em 0;
  position: relative;
}

.cal-event-wrapper {
  padding: 20px;
  background-color: @calEventBg;
}

.cal-day-divider {
  z-index: 2;
  width: 100%;
  font-size: 1.2em;
  position: relative;
}

.cal-day-divider-label {
  position: relative;
  text-align: left;
  padding-left: 78px;
  color: #555459;
  z-index: 0;
  font-width: 900;
}

.cal-day-divider-label hr {
  position: absolute;
  top: 50%;
  left: 25px;
  right: 0px;
  border: 0;
  margin-top: -2px;
  border-top: 2px solid #bbb;
  z-index: 1;
}

.cal-day-divider-label-content {
  z-index: 2;
  position: relative;
  background-color: @calEventBg;
}

.cal-event::before,
.cal-day-divider::before{
  position: absolute;
  content: '';
  top: 0;
  left: 22px;
  width: 6px;
  z-index: 1;
  height: 100%;
  padding: 10px 0 10px 0;
  background-color: @indigo-100;
}

.cal-event-icon {
  border-radius: 50%;
  padding: 8px;
  color: white;
  background-color: @indigo-500;
}

.cal-event-icon.expired {
  background-color: grey;
}

.cal-event-icon.active {
  background-color: @pink-500;
}

.cal-event-icon span {
  vertical-align: middle;
}

.cal-event-icon-wrapper {
  position: absolute;
  z-index: 4;
  border-radius: 50%;
  padding: 5px;
  background-color: @indigo-100;
}

.cal-event-icon-wrapper:hover {
  padding: 0;
}

.cal-event-icon-wrapper:hover .cal-event-icon {
  padding: 13px;
}

.cal-event-content {
  margin-left: 78px;
}

.cal-event-content-inner {
  cursor: pointer;
  margin-right: 20%;
  position: relative;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);
  background-color: @eventBg;
}

.cal-event-content-inner:hover {
}

.cal-event-title {
  padding: 6px 10px;
  font-size: 1.2em;
  position: relative;
}

.cal-event-member {
  color: #555;
  font-size: 1.2em;
}

.cal-event-detail {
  color: #333;
  padding: 0px 10px 6px 10px;
}

.cal-event-time {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.54);
}

@media screen and (max-width: 960px) {
  .cal-event-content .cal-event-title {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -@triangleSize;
      margin-top: -@triangleSize;
      top: 50%;
      box-sizing: border-box;

      border: @triangleSize solid black;
      border-color: transparent white white transparent;

      transform-origin: 50% 50%;
      transform: rotate(135deg);

      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    }
  }
}

@media screen and (min-width: 960px) {
  .cal-event::before,
  .cal-day-divider::before {
    left: 50%;
    margin-left: -3px;
  }

  .cal-event-icon-wrapper {
    left: 50%;
    margin-left: -25px;
  }

  .cal-event-content.left,
  .cal-day-divider-label.left {
    width: 50%;
    margin-left: 0;
    padding-left: 0;
    text-align: right;
    padding-right: 78px;
  }

  .cal-day-divider-label hr {
    left: 0;
  }

  .cal-event-content.right,
  .cal-day-divider-label.right {
    width: 50%;
    margin-left: 50%;
    text-align: left;
    padding-left: 78px;
  }

  .cal-event-content.left .cal-event-content-inner {
    margin-right: 0;
    margin-left: 20%;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .3);

  }

  .cal-event-content.left .cal-event-title {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      right: -@triangleSize;
      margin-top: -@triangleSize;
      top: 50%;
      box-sizing: border-box;

      border: @triangleSize solid black;
      border-color: transparent white white transparent;

      transform-origin: 50% 50%;
      transform: rotate(-45deg);

      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    }
  }

  .cal-event-content.right .cal-event-content-inner {
    margin-right: 20%;
  }

  .cal-event-content.right .cal-event-title {
    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: -@triangleSize;
      margin-top: -@triangleSize;
      top: 50%;
      box-sizing: border-box;

      border: @triangleSize solid black;
      border-color: transparent white white transparent;

      transform-origin: 50% 50%;
      transform: rotate(135deg);

      box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.4);
    }
  }
}