@import "~material-ui/src/less/scaffolding.less";
@import "~material-ui/src/less/components.less";

.select-hint {
  position: absolute !important;
  z-index: 0;
  border: none;
  color: #999 !important;
}

.select-text {
  z-index: 1;
  float: left;
  position: relative;
  background: transparent;
}

.token-wrapper {
  position: absolute;
  top: 0;
  left: 0;
}

.token-delete {
  font-size: 14px;
  color: rgba(0, 0, 0, .7);
  margin-left: 6px;
}

.token {
  border: 1px solid transparent;
  .mui-z-depth-bottom {
    box-shadow: none !important;
  }
}

.token:hover,
.token.token-to-delete {
  border: 1px solid @pink-400;
}

.token-delete:hover {
  color: @pink-400;
}