.teamPage {

  .paper-outer-container {
    width: 480px;
    margin: 24px;
  }

  .paper-inner-container {
    position: relative;
    padding: 24px;
    .mui-text-field {
      width: 100%;
    }
  }
}

svg  {
  text {
    pointer-events: none;
  }
  text.group-icon {
    font-family: icomoon;
    font-size: 20px;
  }
  circle{
    cursor: pointer;
  }
  .link{
    fill: none;
    stroke: #666;
    stroke-width: 1.5px;
  }
}