.teamPage {

  .paper-outer-container {
    width: 480px;
    margin: 24px;
  }

  .paper-inner-container {
    position: relative;
    padding: 24px;
    .mui-text-field {
      width: 100%;
    }
  }
}