.main {
  background-color: red;

  display: -webkit-flex;
  display: flex;
  flex-direction: column;

  justify-content: flex-end;

  .history {
    flex: auto;
  }

  .send-box {
    min-height: 100px;
  }

}