
.instant-message-container {
  display: flex;
  background-color: #ffff00;
  flex : auto;
  overflow-y: hidden;

  .main {
    flex : 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-color: red;

    .history {
      flex: auto;
    }

    .send-box {

    }
  }

  .sidebar {
    flex : 1;
  }
}
