.sideNav .header {
  height: 64px;
  line-height: 64px;
  padding: 0 24px;
  background-color: #00bcd4;
  font-size: 16px;
  color: #FFF;

  .member-info {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .member-info span{
    margin-left: 10px;
  }
}

.headerDropdown {
  color: white;
  > .mui-menu {
    color: black;
    width: 150px;
  }
}

.instant-message-container {
  background-color: #ffff00;
}