@import "~material-ui/src/less/scaffolding.less";
@import "~material-ui/src/less/components.less";
@import "~material-design-icons/sprites/css-sprite/sprite-navigation-white.css";
@import "~material-design-icons/sprites/css-sprite/sprite-social-white.css";

div.topNav {

  h1 {
    margin: 0 !important;
  }
  position: fixed;
  width: 100%;
  top: 0;

}

div.main-content {
  padding: 24px;
}

body {
  padding-top: 64px;
}

a {
  color: @indigo-500;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}