

.notification-menu {
  max-height: 400px;
  width: 400px;
  .mui-menu-item {
    height: auto !important;
    padding: 8px 24px !important;
  }
  .avatar-wrapper {
    *padding-top: 0.5em;
    *padding-right: 16px;
  }
  .name {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    white-space: nowrap;
  }
  .time {
    margin-left: 0.5em;
    color: #888;
  }
}
