.notification-menu {
  max-height: 400px;

  .mui-menu-item {
    height: auto !important;
    width: 400px;
    padding: 8px 24px !important;
  }
  .avatar-wrapper {
    padding-top: 0.5em;
    padding-right: 16px;
  }
  .name {
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  .time {
    margin-left: 0.5em;
    color: #888;
  }
  .message {
    line-height: 1.2em;
    word-wrap: break-word;
    white-space: pre-line;
  }
}
