.cal-event-detail {
  margin: 20px auto;

  h3 {
    text-align: center;
  }

  .mui-paper {
    width: 500px;
  }

  .mui-text-field {
    width: 100%;
  }

  .mui-text-field.mui-is-disabled {
    .mui-text-field-floating-label, .mui-text-field-input {
      color: rgba(0,0,0,.7);
    }
  }
}