.event-popup {
  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    box-sizing: border-box;

    border: 6px solid black;
    border-color: transparent white white transparent;

    transform-origin: 50% 50%;

    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, 0.4);
  }
}

.event-popup.right {
  &::before {
    margin-top: -6px;
    top: 50%;
    left: -6px;
    transform: rotate(135deg);
  }
}

.event-popup.left {
  &::before {
    margin-top: -6px;
    top: 50%;
    right: -6px;
    transform: rotate(-45deg);
  }
}

.event-popup.top {
  &::before {
    left: 50%;
    margin-left: -6px;
    bottom: -6px;
    transform: rotate(45deg);
  }
}

.event-popup.bottom {
  &::before {
    top: -6px;
    transform: rotate(-90deg);
  }
}